.filter {
  position: absolute;
  top: 0;
  right: $pad * 2;

  & .filterbtn {
    background-color: $accent;
    width: $pad * 5;
    height: $pad * 5;
    background-size: 50%;
  }

  & .filterHolder {
    position: absolute;
    top: $pad * 12;
    right: 0;
    z-index: 50;
    background-color: $card;
    width: calc(100vw - 5.8rem);
    padding: $pad * 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms cubic-bezier(0.52, 0.34, 0.54, 1.11);
    border: solid $line $accent;

    &.open {
      opacity: 1;
      pointer-events: all;
    }

    & legend {
      margin-bottom: $pad;
    }
  }

  & .filterOptions {
    display: flex;

    & button {
      margin-right: $pad;

      &.full {
        flex: 2;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (min-width: 740px) {
  .filter {
    top: $pad * 3;
    right: $pad * 3;

    & .filterHolder {
      top: $pad * 13;
      width: calc(100vw - 6rem);
      max-width: $pad * 34;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .filter {
    top: $pad * 4;
    right: $pad * 4;
  }
}
