.mainHeader {
  position: relative;
  padding-right: 0;
  margin-bottom: $pad * 3;

  & h1 {
    margin-top: $pad * 2;
    margin-bottom: $pad;
  }

  & .navWrapper {
    background-color: $card;
    min-width: 100%;
    overflow-y: auto;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  & nav {
    & ul {
      display: flex;
      & li {
        flex: 2;
        & a {
          position: relative;
          z-index: 1;
          display: block;
          padding: $pad * 2;
          min-width: $pad * 15;
          text-align: center;
          background-color: $card;
          transition: all 250ms cubic-bezier(0.52, 0.34, 0.54, 1.11);

          &::after {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            top: $line * 2;
            left: $line * 2;
            bottom: $line * 2;
            right: $line * 2;
            transform: scaleY(0.8);
            opacity: 0;
            background-color: $accent;
            @include uniOut;
          }

          &.active {
            background-color: $accent;
            color: $accentText;
          }

          &:hover {
            color: $accentText;

            &::after {
              opacity: 1;
              transform: scaleY(1);
              @include uniOut;
            }
          }

          &:active {
            &::after {
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              @include uniOut;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 740px) {
  .mainHeader {
    margin-bottom: $pad * 5;

    & h1 {
      margin-top: $pad * 3;
      margin-bottom: $pad * 2;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .mainHeader {
    padding-right: $pad * 4;
    margin-bottom: $pad * 7;

    & h1 {
      margin-top: $pad * 4;
      margin-bottom: $pad * 3;
    }

    & nav {
      & ul {
        & li {
          & a {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 0;

            & .icon {
              width: $pad * 4;
              height: $pad * 4;
              margin-bottom: $line;
            }
          }
        }
      }
    }
  }
}
