/* BASE SIZES */
$pad: 1rem;
$line: 0.2rem;

/* COLORS */
$bg: #f6f7fb;
$card: #fff;
$textColor: #393d46;
$accent: #393d46;
$accentFade: rgba(
  $color: #393d46,
  $alpha: 0.8,
);
$accentText: #fff;
$dull: #ccd0db;
