.btn {
  @include buttonBase;
}

.ghostBtn,
.btnGhost {
  @include buttonBase;
  border: solid $line $accent;
  background: transparent;

  &.whiteBtn {
    color: $accentText;
    border: solid $line $accentText;

    &::after {
      background-color: $accentText;
    }

    &:hover {
      color: $textColor;
    }
  }
}

.iconBtn {
  @include iconMaster;
  width: 2.4rem;
  height: 2.4rem;
}
