$fadeIn: fadeIn 250ms cubic-bezier(0.52, 0.34, 0.54, 1.11) forwards;
$fadeInStep2: fadeIn 250ms 150ms cubic-bezier(0.52, 0.34, 0.54, 1.11) forwards;
$fadeInStep3: fadeIn 250ms 250ms cubic-bezier(0.52, 0.34, 0.54, 1.11) forwards;
$moveFromTop: moveFromTop 250ms cubic-bezier(0.52, 0.34, 0.54, 1.11) forwards;
$moveFromTopstep2: moveFromTop 250ms 150ms cubic-bezier(0.52, 0.34, 0.54, 1.11)
  forwards;
$moveFromTopstep3: moveFromTop 250ms 250ms cubic-bezier(0.52, 0.34, 0.54, 1.11)
  forwards;

@mixin iconHover {
  transition: backgroundImage 0ms ease,
    all 250ms cubic-bezier(0.52, 0.34, 0.54, 1.11);
  transform: scale(1);

  &:hover {
    transform: scale(1.2);
  }
}

@mixin iconClick {
  animation: clickIcon 300ms cubic-bezier(0.52, 0.34, 0.54, 1.11);
}

@keyframes clickIcon {
  0% {
    transform: scale(1.05);
  }

  20% {
    transform: scale(0.9);
  }

  60% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@mixin multiple_animations($list) {
  $combined: "";

  @for $i from 1 through length($list) {
    $anim: nth($list, $i);

    @if $i == length($list) {
      $combined: $combined + $anim;
    } @else {
      $combined: $combined + $anim + ",";
    }
  }

  animation: unquote($combined);
}

@mixin fadeIn {
  animation: fadeIn 300ms cubic-bezier(0.52, 0.34, 0.54, 1.11) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@mixin moveFromTop {
  animation: moveFromTop 300ms cubic-bezier(0.52, 0.34, 0.54, 1.11) forwards;
}

@keyframes moveFromTop {
  0% {
    transform: translateY(-$pad);
  }

  100% {
    transform: translateY(0);
  }
}

@mixin uniOut {
  transition: all 150ms cubic-bezier(0.52, 0.34, 0.54, 1.11);
}

@mixin navAnimation {
}
